<h1 style="text-align:center; margin: 50px 0 50px 0;"><strong >RECENT IMAGES ON WYNGUR</strong></h1>

<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-md-4"><%= image_tag image.url, size: "300x180" %></div>
    <% end %>
  </div>
</div>
