<h2 style="margin: auto; text-align: center; margin-bottom:20px"><strong>Create your Album</strong></h2>
<h3 style="margin: auto; text-align: center; margin-bottom:30px">Give your album a title, then paste in an image url for your cover!</h3>


<div style="margin: auto; text-align: center">
  <%= render 'form', album: @album %>
</div>

<!-- <%= link_to 'Back', albums_path %> -->
