<div style="margin: auto; text-align: center">

<!-- this is comming from the images form - turn off the :to. -->

  <h3 style="text-align:center; margin: 50px 0 50px 0;"><strong>Give your picture a name, then paste in the url, simple!</strong></h3>
  <%= render 'images/form' %>
  <% @album.images.each do |image| %>
  <%= image_tag image.url, class: "album-pics"  %>
  <% end %>

</div>
