// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.images-images {
  width: 50%;
  height: 50%;
  margin: 0 auto 5% auto;
}

h4 {
  text-align: center;
}

#image-header {
  text-align: center;
}

.pic {
  height: 100%;
  width: 100%;
}
