<!-- <p id="notice"><%= notice %></p> -->

<h1 id="image-header" style="text-align:center; margin: 50px 0 50px 0;"><strong>ALL IMAGES</strong></h1>
<% @images.each do |image| %>
<div class="images-images">
  <h4><%= image.name %></h4>
  <%= image_tag image.url, class: "pic" %>
  </div>
<% end %>
