<!-- <p id="notice"><%= notice %></p> -->

<div style="margin: auto">
  <h1 style="text-align:center; margin: 50px 0 50px 0;"><strong>Image Name</strong></h1>
  <h4> <%= @image.name %></h4>
    <!-- <strong>Url:</strong> -->
  <!-- <h4><%= image_tag @image.url %></h4> -->
  <h4><%= image_tag @image.url %></h4>
</div>

 
